html {
  font-family: verdana; arial; sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
}

h2 {
  color: white;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: grey;
}
video {
  object-fit: contain;
}

#copyright {
  text-align: right
}

a {
  color: aquamarine;
  font-size: 16px;
}
